REAL_APP_KEY=
REAL_APP_SECRET=
REAL_ACCOUNT_NO=

PAPER_KR_APP_KEY=
PAPER_KR_APP_SECRET=
PAPER_KR_ACCOUNT_NO=

PAPER_US_APP_KEY=
PAPER_US_APP_SECRET=
PAPER_US_ACCOUNT_NO=

DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
